.banner {
  overflow: hidden;
  max-height: 400px;
  height: 100%;

  img {
    width: 100%;
  }
}

.container {
  max-width: 720px;
  margin: 0 auto;
}

.post {
  h1 {
    color: var(--heading);
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    margin-top: 5rem;
    line-height: 3rem;
    transition: color 200ms;
  }

  .bottomInfo {
    margin-top: 1.6rem;
    display: flex;
    align-items: center;
    gap: 24px;

    svg {
      margin-right: 8px;
    }

    time {
      font-size: 1rem;
      display: flex;
      align-items: center;
      color: var(--info);
    }

    p {
      color: var(--info);
      display: flex;
      align-items: center;
    }
  }
}

.postContent {
  line-height: 1.65rem;
  font-size: 1.125rem;
  text-align: justify;
  color: var(--body);

  a {
    color: var(--highlight);
  }

  h2 {
    margin: 4rem 0;
    display: block;
    font-weight: bold;
    font-size: 2rem;
    line-height: 2rem;
  }

  p,
  ul,
  ol {
    margin: 1.5rem 0;
  }

  ul,
  ol {
    li {
      margin: 1.5rem 0;
    }
  }
}
